.experiencia{
  align-items: center;
}
.experiencia .subtitulo{
  color: #e0e0e0;
}
.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #ffffff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}
.experiencia-texto strong{
  color: #141414;
}
.empresa{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 25px;
  border-radius: 4px;
  max-width: 30vw;
  position: relative;
}
.empresa::before{
  content: "";
  display: block;
  width: 4px;
  height: 22px;
  background: linear-gradient(#298af8, #0a1fdd);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa-ano{
  position: absolute;
  top: 20px;
  left: -100px;
  width: 80px;
  text-align: right;
}
.empresa-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li{
  font-size: 00.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffffff;
  padding: 5px 10px;
}