body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #141414;
  background: url("../img/gremiobg.png") #2d81b9 no-repeat;
  background-size: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 100vw;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 100px;
}
.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .subtitulo {
    font-size: 3rem;
    max-width: initial !important;
    text-transform: capitalize;
  }
}
